*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Quicksand", sans-serif;
}

.header{
    background-image: url(/src/assets/images/croche-banner.png);
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.navbar{
    background-color: #FFFCF6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar img{
    width: 70px;
    height: 70px;
}

.nav-menu ul{
    list-style-type: none;
    display: flex;
    gap: 40px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;   
}

.nav-item a {
    text-decoration: none;
}

.btn {
    background-color: #7E2B98;
    padding: 12px;
    margin: 12px;
    border-radius: 12px;
    color: #FFF;
}

.btn a{
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
}

.main-content{
    background-color: #FFFCF6;
    height: 500px;
}

.title{
    color: #A3C73B;
    font-size: 60px;
    padding-left: 204px;
    padding-top: 70px;
}

.text-intro{
    color: #A3C73B;
    font-size: 40px;
    font-weight: 400;
    padding-left: 204px;
    padding-top: 12px;
}

.btn-wrapper{
    padding-left: 204px;
    border: none;
    padding-top: 24px;
}

.btn-default a{
    text-decoration: none;
    color: #FFF;
    background-color: #4FA8B6;
    font-weight: 600;
    border-radius: 8px;
    padding: 12px;
}

.rodape{
    background-color: #7E2B98;
}
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.footer-sections {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  margin-bottom: 20px;
}

.footer-social h3{
    color: #fefcfc;
    padding-bottom: 16px;
}

.footer-social a {
  margin-right: 15px;
  padding-top: 16px;
  font-size: 24px;
  color: #FFF;
  transition: color 0.3s;
}

.footer-social a:hover {
  color: #7a3eb5;
}

.footer-contatos{
    color: #fefcfc;
}

.footer-contatos address p {
  margin: 5px 0;
}

.footer-contatos address p a{
    color: #fefcfc;
}

.footer-copy {
  text-align: center;
  font-size: 14px;
  color: #fefcfc;
}





