*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 400px;
}

body{
    font-family: "Quicksand", sans-serif;
}

.header-banner {
    background-size: cover;     /* Faz a imagem preencher 100% */
  background-position: center; /* Centraliza */
  background-repeat: no-repeat;
  height: 400px;               /* Ajuste para o tamanho do banner */
  width: 100%;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* faz a imagem preencher sem distorcer */
}

.navbar{
    background-color: #FFFCF6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar img{
    margin: 10px 0 10px 0;
    width: 60px;
    height: 70px;
}

.nav-menu ul{
    list-style-type: none;
    display: flex;
    gap: 40px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;   
}

.nav-item a {
    text-decoration: none;
}

.title-section{
    padding-top:  3%;
    padding-bottom: 3%;
}

.btn {
    background-color: #7E2B98;
    padding: 12px;
    margin: 12px;
    border-radius: 12px;
    color: #FFF;
}

.btn-default{
    display: block;
    margin-left: 11%;
    margin-top: 12px;
}

.btn a{
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600px;
}

.main-content{
    background-color: #FFFCF6;

}

passion-section {
    background-color: #ffffff; 
    padding: 40px 60px;
    margin: 40px auto;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); 
    border-top: 5px solid #a3e0de; 
}

.passion-section h2 {
    font-size: 1.8em;
    color: #4a148c; 
    margin-bottom: 15px;
}

.passion-section p {
    font-size: 1em;
    color: #555;
    max-width: 700px;
    margin: 0 auto;
}


.trilhas-section {
    padding: 20px 0 60px 0;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px, 1fr));; /* Permite que os cards quebrem para a próxima linha */
    gap: 20px; /* Espaço entre os cards */
    justify-content: center; /* Centraliza os cards */
}

.trilha-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 14px;
    padding: 20px;
    width: 100%; /* Largura padrão */
    max-width: 250px; /* Largura máxima para desktop */
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s;
}

.trilha-card:hover {
    transform: translateY(-5px); /* Efeito sutil ao passar o mouse */
}

.card-icon {
    color: #4a148c; /* Cor roxa para o ícone */
    font-size: 2.5em;
    margin-bottom: 15px;
}

.trilha-card h3 {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #333;
}

.trilha-card .descricao {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 20px;
}

.btn-carrinho {
    background-color: #4a148c; 
    color: white;
    border: none;
    padding: 8px 20px;
    font-size: 0.9em;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    text-transform: uppercase;
}

.btn-carrinho:hover {
    background-color: #6a1b9a;
}

@media (max-width: 600px) {
    .passion-section {
        padding: 30px 20px;
    }

    .nave-header {
        padding: 40px 10px;
    }
    
    .card-grid {
        flex-direction: column; 
        align-items: center;
    }

    .trilha-card {
        max-width: 90%; 
    }
}
.title{
    color: #7E2B98;
    font-size: 60px;
    padding-left: 204px;
    padding-top: 70px;
}

.text-intro{
    color: #7E2B98;
    font-size: 40px;
    font-weight: 400;
    padding-left: 204px;
    padding-top: 12px;
}

.btn-wrapper {
    display: flex;
    justify-content: center; 
    padding-top: 24px;
}

.btn-default {
    text-decoration: none;
    color: #FFF;
    background-color: #541D66;
    font-weight: 600;
    border-radius: 8px;
    padding: 12px 24px;
    display: inline-block;
    border: none;
    outline: none;
}

.rodape{
    background-color: #7E2B98;
}
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.footer-sections {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  margin-bottom: 20px;
}

.footer-social h3{
    color: #fefcfc;
    padding-bottom: 16px;
}

.footer-social a {
  margin-right: 15px;
  padding-top: 16px;
  font-size: 24px;
  color: #FFF;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-social a:hover {
  color: #7a3eb5;
}

.footer-contatos{
    color: #fefcfc;
}

.footer-contatos address p {
  margin: 5px 0;
}

.footer-contatos address p a{
    color: #fefcfc;
}

.footer-copy {
  text-align: center;
  font-size: 14px;
  color: #fefcfc;
}





